@font-face {
  font-family: "Skia";
  src: url("./Skia.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.content > div {
  margin-top: 5px;
  margin-bottom: 5px;
}
.content > div:first-of-type {
  margin-top: 10px;
}
.content > div:last-of-type {
  margin-bottom: 20px;
}
h3 {
  color: #E57D23
}

h3, p {
  font-family: "Skia", "Open Sans", sans-serif
}