@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.content > div {
  margin-top: 5px;
  margin-bottom: 5px;
}
.content > div:first-of-type {
  margin-top: 10px;
}
.content > div:last-of-type {
  margin-bottom: 20px;
}
h3 {
  color: #E57D23
}

h3, p {
  font-family: "Skia", "Open Sans", sans-serif
}

.body-image{
  width: 30%;
  min-width: 200px;
  display: flex;
  float: left;
}


.body-table{
  width: 40%;
  float: center;
  padding-left: 50%
  padding-right: 50%;
}

.body-text{
  padding-left: 3%;
  width: 70%;
  min-width: 200px;
  display: flex;
  float: right;
}

.speaker{
  display: inline-block;
}

.register-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
