@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.content > div {
  margin-top: 5px;
  margin-bottom: 5px;
}
.content > div:first-of-type {
  margin-top: 10px;
}
.content > div:last-of-type {
  margin-bottom: 20px;
}
h3 {
  color: #E57D23
}

h3, p {
  font-family: "Skia", "Open Sans", sans-serif
}



.register-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
